<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059514484423-7t83vfnmmt9r72erldfhlt2qhj2jlmg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059514484423-7t83vfnmmt9r72erldfhlt2qhj2jlmg4</string>
	<key>API_KEY</key>
	<string>AIzaSyB8l-TM7y0h4ebeppd2Zd7uoCoLAWuuAMI</string>
	<key>GCM_SENDER_ID</key>
	<string>1059514484423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytodo</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-1bbb2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-1bbb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059514484423:ios:f29bc023e25f364da7e0e2</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-todo-1bbb2.firebaseio.com</string>
</dict>
</plist>
